{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <p>{{ msg }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<h1>About {{user if user}} : </h1>
<p>Email Address: {{email if email}}</p>

<form action="#" method="post">
  <input type="email" name="email" placeholder="Enter Email" value = {{email if email}}>
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <input type="submit" value="Submit">

</form>

<p>Welcome, {{ user }}</p>
<p>
    {{email}}

  </p>

{% endblock %}
